<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RxTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RxTracking.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
    <applicationSettings>
        <RxTracking.Properties.Settings>
            <setting name="_dbUrl" serializeAs="String">
                <value>mongodb://lokislayer.com:27017</value>
            </setting>
            <setting name="_dbName" serializeAs="String">
                <value>RxStore</value>
            </setting>
            <setting name="_loginCollectionName" serializeAs="String">
                <value>Logins</value>
            </setting>
            <setting name="_LoginSuccessMsg" serializeAs="String">
                <value>Welcome to RxTracking</value>
            </setting>
            <setting name="_LoginErrorMsg" serializeAs="String">
                <value>Please check your creditentials. If new user, please click NEW USER.</value>
            </setting>
            <setting name="_appName" serializeAs="String">
                <value>RxTracking</value>
            </setting>
            <setting name="_LoginViewHeaderMsg" serializeAs="String">
                <value>Welcome to Rx Tracking. Pleae enter your credentials or Click New User</value>
            </setting>
            <setting name="_passwordNotMatch" serializeAs="String">
                <value>Your passwords do not match. Please check them and renter them</value>
            </setting>
            <setting name="_userDetailsTItle" serializeAs="String">
                <value>RxTracking User Details Form</value>
            </setting>
        </RxTracking.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <RxTracking.Properties.Settings>
            <setting name="_userName" serializeAs="String">
                <value />
            </setting>
            <setting name="_usernameExists" serializeAs="String">
                <value>Username Exist. Please try another one</value>
            </setting>
            <setting name="_orderListTitle" serializeAs="String">
                <value>RxTracking Order Listing</value>
            </setting>
        </RxTracking.Properties.Settings>
    </userSettings>
</configuration>